<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - BeyondBackgrounds</title>

    <!-- css file for login page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <!-- Background image for login page) -->
    <img class="header-image" src="{{ url_for('static', filename='Wallpaper.jpg') }}" alt="Beyond Backgrounds Image">
    
    <!-- Scrolling title -->
    <div class="scrolling-title">Beyond Backgrounds</div>

    <!-- Navigation links for other pages  -->
	  <div class="navigation">
        <ul>
			<li><a href="/home">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register/recruiter">Recruiter Register</a></li>
            <li><a href="/register/applicant">Applicant Register</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>

    <div class="content">
        <h1>About Us</h1>

        <h2>Introduction:</h2>
        <p>At BeyondBackgrounds, we believe in the power of second chances. We understand that individuals with criminal records face unique challenges as they strive to rebuild their lives, and we're committed to offering support, resources, and opportunities to help them succeed.</p>

        <h2>Our Mission:</h2>
        <p>Our mission is to break down the barriers that individuals with criminal records often encounter when seeking employment, housing, and a fresh start. We firmly believe that everyone deserves a second chance to lead a fulfilling and productive life.</p>

        <h2>Why Second Chances Matter:</h2>
        <p><strong>Reducing Recidivism:</strong> Offering second chances and support significantly reduces the likelihood of reoffending. When individuals are given the opportunity to secure stable employment and reintegrate into society, the cycle of crime can be broken.</p>
        <p><strong>Rebuilding Lives:</strong> Many people with criminal records are genuinely committed to turning their lives around. By providing second chances, we help them regain their dignity and self-worth, fostering personal growth and self-improvement.</p>

        <h2>Conclusion:</h2>
        <p>At BeyondBackgrounds, we believe in the potential for positive change in every individual. We are dedicated to providing second chances and empowering those with criminal records to seize the opportunity for a brighter and more promising future. Join us in making a difference today.</p>
    </div>
</body>
</html>
