<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - BeyondBackgrounds</title>
    <!-- css file for login page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <!-- Background image for login page) -->
    <img class="header-image" src="{{ url_for('static', filename='Wallpaper.jpg') }}" alt="Beyond Backgrounds Image">
	<div class="scrolling-title">Beyond Backgrounds</div>

    <!-- Navigation links for other pages  -->
    <div class="navigation">
        <ul>
            <li><a href="/Applicant_home">Applicant Dashboard</a></li>
            <li><a href="/UserProfile">Applicant Info</a></li>
            <li><a href="/">Logout</a></li>
        </ul>
    </div>

</body>
</html>
