<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - BeyondBackgrounds</title>

    <!-- Link to the external CSS file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <img class="header-image" src="{{ url_for('static', filename='Wallpaper.jpg') }}" alt="Beyond Backgrounds Image">
    <div class="scrolling-title">Beyond Backgrounds</div>
    <div class="navigation">
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register/recruiter">Recruiter Register</a></li>
            <li><a href="/register/applicant">Applicant Register</a></li>
            <li><a href="/about">About</a></li>

        </ul>
    </div>
    <main>
        <section>
            <h1>About Us</h1>
            <!-- Description of the organization -->
            <p>At BeyondBackgrounds, we believe in the power of second chances. We understand that individuals with criminal records face unique challenges as they strive to rebuild their lives, and we're committed to offering support, resources, and opportunities to help them succeed.</p>
        </section>
    </main>
    <footer>
        <p>&copy; 2024 BeyondBackgrounds</p>
    </footer>
</body>
</html>
