<!-- Login page -->
<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login - BeyondBackgrounds</title>
    <!-- css file -->
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <style>
        .container {
    background-color:#FFFFFF;
    border: 1px solid #2d2727;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 50px auto;
    padding: 20px;
    text-align: center;
    transform: translate(50%, -150%); /* Adjust the left value to move it to the right */
    z-index: 1; /* Bring the container to the foreground */
}
    </style>
</head>
<body>
    <!-- Background image for login page) -->
    <img class="header-image" src="{{ url_for('static', filename='Wallpaper.jpg') }}" alt="Beyond Backgrounds Image">
    
    <!-- Navigation links for other pages  -->
    <div class="navigation">
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register/recruiter">Recruiter Register</a></li>
            <li><a href="/register/applicant">Applicant Register</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
    <!-- User input fields and login button  -->
    <div class="container">
        <h2>Login here</h2>
        <form method="POST" action="/login">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <div class="form-group">
                <label for="user-type">Login as:</label>
                <label for="recruiter">
                    <input type="radio" id="recruiter" name="user_type" value="recruiter" required> Recruiter
                </label>
                <label for="applicant">
                    <input type="radio" id="applicant" name="user_type" value="applicant" required> Applicant
                </label>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>

    <!-- Alert on unsuccessful login  -->
    {% if error_message %}
    <script>
        window.onload = function() {
            alert("{{ error_message }}");
        };
    </script>
{% endif %}

</body>
</html>
