<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - BeyondBackgrounds</title>
    <!-- css file for login page -->
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
</head>
<body>
    <!-- Background image for login page) -->
    <img class="header-image" src="{{ url_for('static', filename='Wallpaper.jpg') }}" alt="Beyond Backgrounds Image">
    
    <!-- Scrolling title -->
    <div class="scrolling-title">Beyond Backgrounds</div>

    <!-- Navigation links for other pages  -->
    <div class="navigation">
        <ul>
			<li><a href="/home">Home</a></li>
            <li><a href="/login">Login</a></li>
            <li><a href="/register/recruiter">Recruiter Register</a></li>
            <li><a href="/register/applicant">Applicant Register</a></li>
            <li><a href="/about">About</a></li>
        </ul>
    </div>
    <!-- User input fields and login button  -->
    <div class="container">
        <h2>Login here</h2>
        <form method="POST" action="/register/recruiter">
            <div class="form-group">
                <label for="username">Username:</label>
                <input type="text" id="username" name="username" required>
            </div>
            <div class="form-group">
                <label for="password">Password:</label>
                <input type="password" id="password" name="password" required>
            </div>
            <input type="submit" value="Login">
        </form>
    </div>
    
</body>
</html>
