<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Register - BeyondBackgrounds</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='register.css') }}">
    <style>
        .container {
    background-color: #FFFFFF;
    border: 1px solid #CCC;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 10px auto;
    padding: 10px;
    text-align: center;
    transform: translate(-50%, -110%); /* Adjust the left value to move it to the right */
    z-index: 1; /* Bring the container to the foreground */
}
    </style>
</head>
<body>
    <!-- Header Image (replace 'pic2.jpg' with your image filename) -->
    <img class="header-image" src="{{ url_for('static', filename='Wallpaper.jpg') }}" alt="Beyond Backgrounds Image">
    
    <div class="navigation">
        <ul>
            <li><a href="/login">Login</a></li>
            <li><a href="/register/recruiter">Recruiter Register</a></li>
            <li><a href="/register/applicant">Applicant Register</a></li>
      <li><a href="/about">About</a></li>
         



        </ul>
    </div>
    <div class="container">
        <h2>Register as Recruiter</h2>
		{% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                {% if category == 'success' %}
                    <div class="alert alert-success">
                        {{ message }}
                    </div>
                {% endif %}
            {% endfor %}
        {% endwith %}
        <form method="POST" action="/register/recruiter">
            <div class="form-group">
                <label for="username_form">Username:</label>
                <input type="text" id="username_form" name="username_form" required>
            </div>
            <div class="form-group">
                <label for="password_form">Password:</label>
                <input type="password_form" id="password_form" name="password_form" required>
            </div>
            <div class="form-group">
                <label for="company">Company Name:</label> 
                <input type="text" id="company" name="company" required>
            </div>
            <div class="form-group">
                <label for="email">Contact Email:</label>
                <input type="email" id="email" name="email" required>
            </div>
            <input type="submit" value="Register">
        </form>
        <p>Already have an account? <a href="/login">Login here</a></p>
    </div>
</body>
</html>
